.cardImage {
  height: auto;
  max-height: 220px;
  width: auto;
  max-width: 220px;
  padding: 10px;
}

.productInformationCardImage {
  height: auto;
  width: auto;
  padding: 10px;
}

.divWidth {
  max-width: 300px;
  margin: 0 auto;
}

.rangeWidth {
  max-width: 260px;
  margin: 0 auto;
}
