.cardImage {
  height: auto;
  max-height: 220px;
  width: auto;
  max-width: 220px;
  padding: 10px;
}

.productInformationCardImage {
  height: auto;
  width: auto;
  padding: 10px;
}

.divWidth {
  max-width: 300px;
  margin: 0 auto;
}

.rangeWidth {
  max-width: 260px;
  margin: 0 auto;
}

.card-container {
  min-width: 620px;
}

.move-content-bottom {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-content {
  margin-top: auto;
}

.image-container {
  width: 100%;
  max-width: 900px;
  min-width: 900px;
  max-height: 500px;
  min-height: 500px;
}
