.header {
    background-color: rgb(247, 211, 172);
    color: black;
    font-family: serif;
}

.text {
    color:black;
}

.subheader{
    color:black;
    font-family: serif;
}

.quote {
    color:rgb(93, 60, 49)
}





