.PSheader {
    padding: 50px 50px 20px 50px;
    color:rgb(93, 60, 49);
    font-family: serif;
    font-weight: bold;
}

.text {
    padding: 0px 50px 0px 50px;
    line-height: 2;
    padding-left: 70px;
    color:black;
}

.Paivitys {
    color:black;
    padding-left: 50px;
    font-style: italic;
}

